    /*
    Flaticon icon font: Flaticon
    Creation date: 04/10/2018 00:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-guitar:before { content: "\f100"; }
.flaticon-music:before { content: "\f101"; }
.flaticon-guitar-1:before { content: "\f102"; }
.flaticon-sing:before { content: "\f103"; }
.flaticon-music-1:before { content: "\f104"; }
.flaticon-violin:before { content: "\f105"; }
.flaticon-trumpet:before { content: "\f106"; }
.flaticon-mexican:before { content: "\f107"; }
.flaticon-music-3:before { content: "\f108"; }
.flaticon-music-and-multimedia-5:before { content: "\f109"; }
.flaticon-music-4:before { content: "\f10a"; }
.flaticon-keyboard:before { content: "\f10b"; }
.flaticon-lyre:before { content: "\f10c"; }
.flaticon-drum:before { content: "\f10d"; }
.flaticon-tambourine:before { content: "\f10e"; }
.flaticon-panpipe:before { content: "\f10f"; }
.flaticon-guitar-2:before { content: "\f110"; }
.flaticon-xylophone:before { content: "\f111"; }
.flaticon-keyboard-1:before { content: "\f112"; }
.flaticon-music-2:before { content: "\f113"; }
.flaticon-piano:before { content: "\f114"; }
.flaticon-microphone:before { content: "\f115"; }
.flaticon-cultures:before { content: "\f116"; }
.flaticon-music-and-multimedia:before { content: "\f117"; }
.flaticon-music-and-multimedia-1:before { content: "\f118"; }
.flaticon-music-and-multimedia-2:before { content: "\f119"; }
.flaticon-music-and-multimedia-3:before { content: "\f11a"; }
.flaticon-music-and-multimedia-4:before { content: "\f11b"; }
.flaticon-sports-and-competition:before { content: "\f11c"; }
.flaticon-music-and-multimedia-6:before { content: "\f11d"; }
.flaticon-music-and-multimedia-7:before { content: "\f11e"; }
.flaticon-music-and-multimedia-8:before { content: "\f11f"; }
.flaticon-music-and-multimedia-9:before { content: "\f120"; }
.flaticon-music-and-multimedia-10:before { content: "\f121"; }
    
    $font-Flaticon-guitar: "\f100";
    $font-Flaticon-music: "\f101";
    $font-Flaticon-guitar-1: "\f102";
    $font-Flaticon-sing: "\f103";
    $font-Flaticon-music-1: "\f104";
    $font-Flaticon-violin: "\f105";
    $font-Flaticon-trumpet: "\f106";
    $font-Flaticon-mexican: "\f107";
    $font-Flaticon-music-3: "\f108";
    $font-Flaticon-music-and-multimedia-5: "\f109";
    $font-Flaticon-music-4: "\f10a";
    $font-Flaticon-keyboard: "\f10b";
    $font-Flaticon-lyre: "\f10c";
    $font-Flaticon-drum: "\f10d";
    $font-Flaticon-tambourine: "\f10e";
    $font-Flaticon-panpipe: "\f10f";
    $font-Flaticon-guitar-2: "\f110";
    $font-Flaticon-xylophone: "\f111";
    $font-Flaticon-keyboard-1: "\f112";
    $font-Flaticon-music-2: "\f113";
    $font-Flaticon-piano: "\f114";
    $font-Flaticon-microphone: "\f115";
    $font-Flaticon-cultures: "\f116";
    $font-Flaticon-music-and-multimedia: "\f117";
    $font-Flaticon-music-and-multimedia-1: "\f118";
    $font-Flaticon-music-and-multimedia-2: "\f119";
    $font-Flaticon-music-and-multimedia-3: "\f11a";
    $font-Flaticon-music-and-multimedia-4: "\f11b";
    $font-Flaticon-sports-and-competition: "\f11c";
    $font-Flaticon-music-and-multimedia-6: "\f11d";
    $font-Flaticon-music-and-multimedia-7: "\f11e";
    $font-Flaticon-music-and-multimedia-8: "\f11f";
    $font-Flaticon-music-and-multimedia-9: "\f120";
    $font-Flaticon-music-and-multimedia-10: "\f121";