	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/10/2018 00:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-guitar:before { content: "\f100"; }
.flaticon-music:before { content: "\f101"; }
.flaticon-guitar-1:before { content: "\f102"; }
.flaticon-sing:before { content: "\f103"; }
.flaticon-music-1:before { content: "\f104"; }
.flaticon-violin:before { content: "\f105"; }
.flaticon-trumpet:before { content: "\f106"; }
.flaticon-mexican:before { content: "\f107"; }
.flaticon-music-3:before { content: "\f108"; }
.flaticon-music-and-multimedia-5:before { content: "\f109"; }
.flaticon-music-4:before { content: "\f10a"; }
.flaticon-keyboard:before { content: "\f10b"; }
.flaticon-lyre:before { content: "\f10c"; }
.flaticon-drum:before { content: "\f10d"; }
.flaticon-tambourine:before { content: "\f10e"; }
.flaticon-panpipe:before { content: "\f10f"; }
.flaticon-guitar-2:before { content: "\f110"; }
.flaticon-xylophone:before { content: "\f111"; }
.flaticon-keyboard-1:before { content: "\f112"; }
.flaticon-music-2:before { content: "\f113"; }
.flaticon-piano:before { content: "\f114"; }
.flaticon-microphone:before { content: "\f115"; }
.flaticon-cultures:before { content: "\f116"; }
.flaticon-music-and-multimedia:before { content: "\f117"; }
.flaticon-music-and-multimedia-1:before { content: "\f118"; }
.flaticon-music-and-multimedia-2:before { content: "\f119"; }
.flaticon-music-and-multimedia-3:before { content: "\f11a"; }
.flaticon-music-and-multimedia-4:before { content: "\f11b"; }
.flaticon-sports-and-competition:before { content: "\f11c"; }
.flaticon-music-and-multimedia-6:before { content: "\f11d"; }
.flaticon-music-and-multimedia-7:before { content: "\f11e"; }
.flaticon-music-and-multimedia-8:before { content: "\f11f"; }
.flaticon-music-and-multimedia-9:before { content: "\f120"; }
.flaticon-music-and-multimedia-10:before { content: "\f121"; }