/* your styles go here */
#copyright {
  padding: 5px 0px !important;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar-brand {
  padding: 5px 10px;
}

.bar.background-image-fixed-2 {
  background: url(../img/slider-bg.jpeg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.dropdown-menu.social {
  min-width: 30px;
}.home-carousel {
  background: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  margin: auto;
}

.bar .dark-mask {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.home-carousel .dark-mask {
  background: #ec3438;
}

.home-carousel h1, .home-carousel h2 {
  font-size: 34px !important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 50px;
  margin-left: 0px;
}

.box-simple .icon {
  border: 0px;
}

#post-content > p {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}